In [130]:
import os
import shutil
import numpy as np
import pandas as pd
## import necessary package
import numpy as np
import pandas as pd 
from tqdm import tqdm
# from autogluon.tabular import TabularDataset, TabularPredictor
## Config
tqdm.pandas(desc='pandas bar')
from pandarallel import pandarallel
import argparse
from sklearn.metrics import f1_score,precision_score,recall_score
from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import cross_val_predict, train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import ExtraTreesClassifier,AdaBoostClassifier
import ast
import re
# from cleanlab.filter import find_label_issues
# from cleanlab.classification import CleanLearning
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

INFO: Pandarallel will run on 52 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [ ]:
hospital = np.load('datasets/hospital/hospital.npy')
hospital

In [84]:
i = 3
hospital_clean = pd.read_csv('datasets/hospital/clean.csv')
hospital_dirty = pd.read_csv('datasets/hospital/dirty.csv')
hospital_dirty.columns=hospital_clean.columns
# (hospital_dirty!=hospital_clean).sum(axis=1)
# hospital_dirty
hospital_clean.iloc[i,-4],hospital_dirty.iloc[i,-4]
# hospital_clean.iloc[i].astype(str)!=hospital_dirty.iloc[i].astype(str)

('surgery patients whose preventive antibiotics were stopped at the right time (within 24 hours after surgery)',
 'surgery patients whose preventive antibiotics were stopped at the right time (within 24 hours after surgery)')

In [87]:
[i for i in hospital_dirty.iloc[:,3].unique() if i.__contains__('150')]

['150 gilbreath drive', '150 gilxreath drive']

In [104]:
# hospital_dirty_query['count'].value_counts()
hospital_clean = pd.read_csv('datasets/rayyan/clean.csv')
hospital_dirty = pd.read_csv('datasets/rayyan/dirty.csv')
col = 10
print(hospital_clean.columns[col])

error_type = []
for index,row in hospital_clean.iterrows():
    # if(hospital_clean.iloc[index,col].astype(str)!=hospital_dirty.iloc[index,col].astype(str)):
    if(str(hospital_clean.iloc[index,col])!=str(hospital_dirty.iloc[index,col])):
        error_type.append((hospital_clean.iloc[index,col],hospital_dirty.iloc[index,col]))
        
print(len(error_type))
pd.DataFrame(error_type).drop_duplicates().iloc[-1,10

SyntaxError: unexpected EOF while parsing (1041918678.py, line 14)

In [85]:
# hospital_dirty_query['count'].value_counts()
col = 3
print(hospital_clean.columns[col])
error_type = []
for index,row in hospital_clean.iterrows():
    # if(hospital_clean.iloc[index,col].astype(str)!=hospital_dirty.iloc[index,col].astype(str)):
    if(str(hospital_clean.iloc[index,col])!=str(hospital_dirty.iloc[index,col])):
        error_type.append((hospital_clean.iloc[index,col],hospital_dirty.iloc[index,col]))
        
print(len(error_type))
pd.DataFrame(error_type).drop_duplicates()

Address1
31

                             0                           1
0   2505 u s highway 431 north  2505xuxsxhighwayx431xnorth
1                702 n main st               702xnxmainxst
2                702 n main st               702 x maix st
3    201 pine street northwest   201 pine sxreex norxhwesx
4      8000 alabama highway 69     8000 alabama xigxway 69
5             33700 highway 43            33700 hxghway 43
6             33700 highway 43            33700 highway x3
7      1000 first street north     1000 fixst stxeet noxth
8         1720 university blvd        1720 univxrsity blvd
9             301 east 18th st            301xeastx18thxst
10       4370 west main street       4370xwestxmainxstreet
11       810 st vincents drive       810 st vxncents drxve
12         1530 u s highway 43         1530xuxsxhighwayx43
13           124 s memorial dr           124xsxmemorialxdr
14           124 s memorial dr           124 s mxmorial dr
15            315 w hickory st            315 w hickxry st
16            315 w hickory st            315xwxhickoryxst
17                  po box 287                  poxboxx287
18            126 hospital ave            126xhospitalxave
19            126 hospital ave            1x6 hospital ave
20       209 north main street       209 xorth maix street
21    1912 alabama highway 157    1912xalabamaxhighwayx157
22            301 east 18th st            301 east 1xth st
23           1010 lay dam road           x0x0 lay dam road
24  1256 military street south  1256 military street sxuth
25      600 south third street      600 souxh xhird sxreex
26              515 miranda st              515 miranda sx
27              515 miranda st              515 miranxa st
28              515 miranda st              515 mirxndx st
29        400 n edwards street        400xnxedwardsxstreet
30         150 gilbreath drive         150 gilxreath drive

In [ ]:
query = pd.read_csv('/home/yanmy/FastChat/prompt_opt/company_inference.csv',index_col=0)
query

In [2]:
dirty = pd.read_csv('/home/yanmy/raha/raha-master/datasets/hospital/dirty.csv')
clean = pd.read_csv('/home/yanmy/raha/raha-master/datasets/hospital/clean.csv')

In [90]:
from sentence_transformers import SentenceTransformer,util,LoggingHandler, losses, InputExample
model = SentenceTransformer('/home/yanmy/sentence_transformer_model/bge-large-en-1.5/').to('cuda:3')

In [11]:
dirty.iloc[42],clean.iloc[42]

(index                                                               43
 provider_number                                                  10001
 name                                  southeast alabama medical center
 address_1                                       1108 ross clark circle
 address_2                                                        empty
 address_3                                                        empty
 city                                                            dothan
 state                                                               xl
 zip                                                              36302
 county                                                         houston
 phone                                                       3347938701
 type                                              acute care hospitals
 owner                      gxvernment - hxspital district xr authxrity
 emergency_service                                                  yes
 condition                                surgical infection prevention
 measure_code                                                scip-vte-1
 measure_name         surgery patients whose doctors ordered treatme...
 score                                                              86%
 sample                                                    185 patients
 state_average                                            al_scip-vte-1
 Name: 42, dtype: object,
 index                                                              43
 ProviderNumber                                                  10001
 HospitalName                         southeast alabama medical center
 Address1                                       1108 ross clark circle
 Address2                                                        empty
 Address3                                                        empty
 City                                                           dothan
 State                                                              al
 ZipCode                                                         36302
 CountyName                                                    houston
 PhoneNumber                                                3347938701
 HospitalType                                     acute care hospitals
 HospitalOwner             government - hospital district or authority
 EmergencyService                                                  yes
 Condition                               surgical infection prevention
 MeasureCode                                                scip-vte-1
 MeasureName         surgery patients whose doctors ordered treatme...
 Score                                                             86%
 Sample                                                   185 patients
 Stateavg                                                al_scip-vte-1
 Name: 42, dtype: object)

In [23]:
# dirty.iloc[42,1],clean.iloc[42,1]
# dirty.iloc[:,1].astype(int)
dirty[dirty['ProviderNumber']=='1xx19']

,index,ProviderNumber,HospitalName,Address1,Address2,Address3,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,HospitalOwner,EmergencyService,Condition,MeasureCode,MeasureName,Score,Sample,Stateavg
13,14,1xx19,helen keller memorial hospital,1300 south montgomery avenue,empty,empty,sheffield,al,35660,jefferson,2563864556,acute care hospitals,government - hospital district or authority,yes,heart attack,ami-7a,heart attack patients given fibrinolytic medic...,empty,0 patients,al_ami-7a

In [41]:
dirty['ProviderNumber'].value_counts()

ProviderNumber
10046    28
10038    27
10040    25
10022    25
10043    25
         ..
x00x5     1
1003x     1
1xx39     1
100x9     1
1xx44     1
Name: count, Length: 72, dtype: int64

In [43]:
# dirty[dirty['Address1']!=clean['Address1']]
dirty.iloc[57,3],clean.iloc[57,3]

('2505xuxsxhighwayx431xnorth', '2505 u s highway 431 north')

In [45]:
dirty[dirty['count']!=0]['ProviderNumber'].value_counts()

ProviderNumber
10012    15
10034    15
10039    13
10022    13
10046    12
         ..
x00x5     1
1003x     1
1xx39     1
1004x     1
1xx47     1
Name: count, Length: 71, dtype: int64

In [38]:
dirty['count'] = (dirty_revise!=clean).sum(axis=1)
dirty[dirty['count']==0]

,index,ProviderNumber,HospitalName,Address1,Address2,Address3,City,State,ZipCode,CountyName,...,HospitalType,HospitalOwner,EmergencyService,Condition,MeasureCode,MeasureName,Score,Sample,Stateavg,count
1,2,10018,callahan eye foundation hospital,1720 university blvd,empty,empty,birmingham,al,35233,jefferson,...,acute care hospitals,voluntary non-profit - private,yes,surgical infection prevention,scip-inf-1,surgery patients who were given an antibiotic ...,empty,empty,al_scip-inf-1,0
2,3,10018,callahan eye foundation hospital,1720 university blvd,empty,empty,birmingham,al,35233,jefferson,...,acute care hospitals,voluntary non-profit - private,yes,surgical infection prevention,scip-inf-2,surgery patients who were given the right kin...,empty,empty,al_scip-inf-2,0
4,5,10018,callahan eye foundation hospital,1720 university blvd,empty,empty,birmingham,al,35233,jefferson,...,acute care hospitals,voluntary non-profit - private,yes,surgical infection prevention,scip-inf-4,all heart surgery patients whose blood sugar (...,empty,empty,al_scip-inf-4,0
5,6,10018,callahan eye foundation hospital,1720 university blvd,empty,empty,birmingham,al,35233,jefferson,...,acute care hospitals,voluntary non-profit - private,yes,surgical infection prevention,scip-inf-6,surgery patients needing hair removed from the...,empty,empty,al_scip-inf-6,0
6,7,10018,callahan eye foundation hospital,1720 university blvd,empty,empty,birmingham,al,35233,jefferson,...,acute care hospitals,voluntary non-profit - private,yes,surgical infection prevention,scip-vte-1,surgery patients whose doctors ordered treatme...,empty,empty,al_scip-vte-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,10050,st vincents blount,150 gilbreath drive,empty,empty,oneonta,al,35121,blount,...,acute care hospitals,voluntary non-profit - private,yes,pneumonia,pn-5c,pneumonia patients given initial antibiotic(s)...,98%,105 patients,al_pn-5c,0
995,996,10050,st vincents blount,150 gilbreath drive,empty,empty,oneonta,al,35121,blount,...,acute care hospitals,voluntary non-profit - private,yes,pneumonia,pn-6,pneumonia patients given the most appropriate ...,77%,74 patients,al_pn-6,0
996,997,10050,st vincents blount,150 gilbreath drive,empty,empty,oneonta,al,35121,blount,...,acute care hospitals,voluntary non-profit - private,yes,pneumonia,pn-7,pneumonia patients assessed and given influenz...,64%,55 patients,al_pn-7,0
998,999,10050,st vincents blount,150 gilbreath drive,empty,empty,oneonta,al,35121,blount,...,acute care hospitals,voluntary non-profit - private,yes,surgical infection prevention,scip-inf-1,surgery patients who were given an antibiotic ...,64%,28 patients,al_scip-inf-1,0
999,1000,10050,st vincents blount,150 gilbreath drive,empty,empty,oneonta,al,35121,blount,...,acute care hospitals,voluntary non-profit - private,yes,surgical infection prevention,scip-inf-2,surgery patients who were given the right kin...,88%,25 patients,al_scip-inf-2,0

In [36]:
# 
(dirty_revise!=clean).sum()

index                0
ProviderNumber      28
HospitalName        24
Address1            31
Address2             0
Address3             0
City                33
State               26
ZipCode             30
CountyName          39
PhoneNumber         34
HospitalType        32
HospitalOwner       27
EmergencyService    27
Condition           32
MeasureCode         29
MeasureName         36
Score               23
Sample              31
Stateavg            27
dtype: int64

In [34]:
dirty['count'],dirty['count'].value_counts(

count
0    593
1    319
2     75
3     12
4      1
Name: count, dtype: int64

In [29]:
# (dirty!=clean)
# dirty.iloc[42,10],clean.iloc[42,10]
def Str2Int(row):
    for index in [1,8,10]:
        temp = row[index]
        try:
            row[index] = int(temp)
        except:
            continue
    return row
dirty_revise = dirty.progress_apply(Str2Int,axis=1)

pandas bar: 100%|██████████| 1000/1000 [00:00<00:00, 8034.48it/s]

In [4]:
beer_dirty = pd.read_csv('/home/yanmy/raha/raha-master/datasets/beers/dirty.csv')

beer_clean = pd.read_csv('/home/yanmy/raha/raha-master/datasets/beers/clean.csv')
beer_clean

,index,id,beer-name,style,ounces,abv,ibu,brewery_id,brewery-name,city,state
0,1,1436,Pub Beer,American Pale Lager,12.0,0.050,NaN,408,10 Barrel Brewing Company,Bend,OR
1,2,2265,Devil's Cup,American Pale Ale (APA),12.0,0.066,NaN,177,18th Street Brewery,Gary,IN
2,3,2264,Rise of the Phoenix,American IPA,12.0,0.071,NaN,177,18th Street Brewery,Gary,IN
3,4,2263,Sinister,American Double / Imperial IPA,12.0,0.090,NaN,177,18th Street Brewery,Gary,IN
4,5,2262,Sex and Candy,American IPA,12.0,0.075,NaN,177,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...,...,...
2405,2406,928,Belgorado,Belgian IPA,12.0,0.067,45.0,424,Wynkoop Brewing Company,Denver,CO
2406,2407,807,Rail Yard Ale,American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO
2407,2408,620,B3K Black Lager,Schwarzbier,12.0,0.055,NaN,424,Wynkoop Brewing Company,Denver,CO
2408,2409,145,Silverback Pale Ale,American Pale Ale (APA),12.0,0.055,40.0,424,Wynkoop Brewing Company,Denver,CO
2409,2410,84,Rail Yard Ale (2009),American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO

In [96]:
clean

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time
0,1,aa,AA-3859-IAH-ORD,7:10 a.m.,7:16 a.m.,9:40 a.m.,9:32 a.m.
1,2,aa,AA-1733-ORD-PHX,7:45 p.m.,7:58 p.m.,10:30 p.m.,10:30 p.m.
2,3,aa,AA-1640-MIA-MCO,6:30 p.m.,6:30 p.m.,7:25 p.m.,7:25 p.m.
3,4,aa,AA-518-MIA-JFK,6:40 a.m.,6:54 a.m.,9:25 a.m.,9:28 a.m.
4,5,aa,AA-3756-ORD-SLC,12:15 p.m.,12:41 p.m.,2:45 p.m.,2:50 p.m.
...,...,...,...,...,...,...,...
2371,2372,world-flight-tracker,UA-3099-PHX-PHL,11:55 a.m.,11:55 a.m.,6:17 p.m.,5:38 p.m.
2372,2373,world-flight-tracker,AA-4198-ORD-CLE,10:40 a.m.,10:54 a.m.,12:55 p.m.,12:50 p.m.
2373,2374,world-flight-tracker,CO-45-EWR-MIA,4:00 p.m.,3:58 p.m.,7:05 p.m.,6:36 p.m.
2374,2375,world-flight-tracker,AA-3809-PHX-LAX,6:00 a.m.,6:10 a.m.,6:40 a.m.,6:19 a.m.
2375,2376,world-flight-tracker,AA-59-JFK-SFO,7:10 a.m.,7:39 a.m.,10:45 a.m.,11:12 a.m.

In [105]:
clean[dirty['act_dep_time']!=clean['act_dep_time']]

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time
2,3,aa,AA-1640-MIA-MCO,6:30 p.m.,6:30 p.m.,7:25 p.m.,7:25 p.m.
5,6,aa,AA-204-LAX-MCO,11:25 p.m.,11:25 p.m.,6:55 a.m.,6:55 a.m.
31,32,aa,AA-1522-SFO-ORD,11:55 p.m.,11:55 p.m.,5:50 a.m.,5:50 a.m.
32,33,aa,AA-3823-LAX-DEN,9:00 p.m.,9:00 p.m.,12:15 a.m.,12:15 a.m.
33,34,aa,AA-2312-DFW-DTW,8:25 p.m.,8:25 p.m.,11:50 p.m.,11:50 p.m.
...,...,...,...,...,...,...,...
2356,2357,world-flight-tracker,UA-233-LAX-JFK,4:25 p.m.,4:25 p.m.,12:29 a.m.,12:29 a.m.
2357,2358,world-flight-tracker,AA-3823-LAX-DEN,9:00 p.m.,9:00 p.m.,12:15 a.m.,12:15 a.m.
2358,2359,world-flight-tracker,AA-2312-DFW-DTW,8:25 p.m.,8:25 p.m.,11:50 p.m.,11:50 p.m.
2362,2363,world-flight-tracker,AA-649-ORD-SNA,1:30 p.m.,1:30 p.m.,3:50 p.m.,3:50 p.m.
2371,2372,world-flight-tracker,UA-3099-PHX-PHL,11:55 a.m.,11:55 a.m.,6:17 p.m.,5:38 p.m.

In [8]:
def compare_dataframes(df1, df2):
    # 使用eq方法比较两个DataFrame的元素是否相同，不相同的地方为True，相同的地方为False
    diff = df1.ne(df2)
    
    # 将不相同的地方设置为空字符串
    result = df1.mask(diff, "").astype(str) + "||" + df2.mask(diff, "").astype(str)
    
    return result

# 调用函数比较两个DataFrame
result_df = compare_dataframes(beer_clean, beer_dirty)
result_df

,abv,beer-name,beer_name,brewery-name,brewery_id,brewery_name,city,ibu,id,index,ounces,state,style
0,||,NaN,NaN,NaN,408||408,NaN,Bend||Bend,||,1436||1436,1||1,||,OR||OR,American Pale Lager||American Pale Lager
1,||,NaN,NaN,NaN,177||177,NaN,Gary||Gary,||,2265||2265,2||2,||,IN||IN,American Pale Ale (APA)||American Pale Ale (APA)
2,||,NaN,NaN,NaN,177||177,NaN,Gary||Gary,||,2264||2264,3||3,||,IN||IN,American IPA||American IPA
3,||,NaN,NaN,NaN,177||177,NaN,Gary||Gary,||,2263||2263,4||4,||,IN||IN,American Double / Imperial IPA||American Doubl...
4,||,NaN,NaN,NaN,177||177,NaN,Gary||Gary,||,2262||2262,5||5,||,IN||IN,American IPA||American IPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,||,NaN,NaN,NaN,424||424,NaN,Denver||Denver,45.0||45.0,928||928,2406||2406,||,CO||CO,Belgian IPA||Belgian IPA
2406,||,NaN,NaN,NaN,424||424,NaN,Denver||Denver,||,807||807,2407||2407,||,CO||CO,American Amber / Red Ale||American Amber / Red...
2407,||,NaN,NaN,NaN,424||424,NaN,Denver||Denver,||,620||620,2408||2408,||,CO||CO,Schwarzbier||Schwarzbier
2408,||,NaN,NaN,NaN,424||424,NaN,Denver||Denver,40.0||40.0,145||145,2409||2409,||,CO||CO,American Pale Ale (APA)||American Pale Ale (APA)
2409,||,NaN,NaN,NaN,424||424,NaN,Denver||Denver,||,84||84,2410||2410,||,CO||CO,American Amber / Red Ale||American Amber / Red...

In [15]:
beer_clean.columns,beer_dirty.columns

(Index(['index', 'id', 'beer-name', 'style', 'ounces', 'abv', 'ibu',
        'brewery_id', 'brewery-name', 'city', 'state'],
       dtype='object'),
 Index(['index', 'id', 'beer_name', 'style', 'ounces', 'abv', 'ibu',
        'brewery_id', 'brewery_name', 'city', 'state'],
       dtype='object'))

In [18]:
beer_dirty.columns = beer_clean.columns
beer_clean_dict = beer_clean.fillna('').set_index('index').to_dict('index')
beer_dirty_dict = beer_dirty.fillna('').set_index('index').to_dict('index')

In [109]:
dirty.columns = clean.columns
clean_dict = clean.fillna('').set_index('tuple_id').to_dict('index')
dirty_dict = dirty.fillna('').set_index('tuple_id').to_dict('index')

In [ ]:
flight_diff_list = []
for key in clean_dict.keys():
    for key2 in clean_dict[key].keys():
        if str(clean_dict[key][key2]) != str(dirty_dict[key][key2]):
            flight_diff_list.append([key,key2,clean_dict[key][key2],dirty_dict[key][key2]])
flight_diff_list

In [113]:
dirty['act_arr_time'].value_counts()

act_arr_time
7:10 p.m.     27
12:09 p.m.    26
5:34 p.m.     24
9:45 a.m.     22
11:06 a.m.    21
              ..
8:45aDec 1     1
8:02aDec 1     1
5:49 a.m.      1
11:56 p.m.     1
11:54 p.m.     1
Name: count, Length: 328, dtype: int64

In [116]:
len(pd.DataFrame(flight_diff_list)[0].unique())
## Coreset

1904

In [ ]:
diff_list_revise = []
for key in beer_clean_dict.keys():
    for key2 in beer_clean_dict[key].keys():
        if str(beer_clean_dict[key][key2]) != str(result_df_dict[key][key2]):
            diff_list_revise.append([key,key2,beer_clean_dict[key][key2],beer_dirty_dict[key][key2],result_df_dict[key][key2]])
diff_list_revise

In [204]:
diff_list_revise = pd.DataFrame(diff_list_revise)

In [209]:
diff_list_revise[~diff_list_revise.iloc[:,1].str.contains('id')]

         0       1      2                      3           4
17       9  ounces   12.0               12.0 oz.    12.0 oz.
170     85  ounces   16.0               16.0 oz.     16.0 oz
201    100  ounces   12.0               12.0 oz.    12.0 oz.
204    101     abv  0.056  0.055999999999999994%       0.056
221    109     abv  0.058  0.057999999999999996%       0.058
...    ...     ...    ...                    ...         ...
5039  2404  ounces   12.0               12.0 oz.    12.0 oz.
5040  2404     abv  0.055                 0.055%      0.055%
5043  2405  ounces   12.0               12.0 oz.    12.0 oz.
5052  2409  ounces   12.0             12.0 ounce  12.0 ounce
5053  2409     abv  0.055                 0.055%      0.055%

[237 rows x 5 columns]

In [ ]:
diff_list = []
for key in beer_clean_dict.keys():
    for key2 in beer_clean_dict[key].keys():
        if str(beer_clean_dict[key][key2]) != str(beer_dirty_dict[key][key2]):
            diff_list.append([key,key2,beer_clean_dict[key][key2],beer_dirty_dict[key][key2],result_df_dict[key][key2]])
diff_list

In [201]:
diff_list = pd.DataFrame(diff_list)
diff_list[diff_list.iloc[:,2].astype(str)!=diff_list.iloc[:,4].astype(str)]

         0       1      2                      3           4
10       9  ounces   12.0               12.0 oz.    12.0 oz.
106     85  ounces   16.0               16.0 oz.     16.0 oz
126    100  ounces   12.0               12.0 oz.    12.0 oz.
128    101     abv  0.056  0.055999999999999994%       0.056
138    109     abv  0.058  0.057999999999999996%       0.058
...    ...     ...    ...                    ...         ...
3347  2404  ounces   12.0               12.0 oz.    12.0 oz.
3348  2404     abv  0.055                 0.055%      0.055%
3349  2405  ounces   12.0               12.0 oz.    12.0 oz.
3354  2409  ounces   12.0             12.0 ounce  12.0 ounce
3355  2409     abv  0.055                 0.055%      0.055%

[143 rows x 5 columns]

In [196]:
diff_list.iloc[142,2],diff_list.iloc[142,4]

(0.058, 0.057999999999999996)

In [200]:
result_df_dict[101]

{'id': 2102.0,
 'beer-name': 'Brotherhood Steam',
 'style': 'California Common / Steam Beer',
 'ounces': 12.0,
 'abv': 0.055999999999999994,
 'ibu': '',
 'brewery_id': 35.0,
 'brewery-name': 'Anchor Brewing Company',
 'city': 'San Francisco',
 'state': 'CA',
 'clean': {'id': 2102,
  'beer-name': 'Brotherhood Steam',
  'style': 'California Common / Steam Beer',
  'ounces': 12.0,
  'abv': 0.055999999999999994,
  'ibu': '',
  'brewery_id': 35,
  'brewery-name': 'Anchor Brewing Company',
  'city': 'San Francisco',
  'state': 'CA'},
 'brewery\\_id': ''}

In [118]:
len(pd.DataFrame(diff_list)[0].unique()),len(diff_list)
## Coreset 3357

(2410, 3357)

In [95]:
diff_list.to_csv('beer_diff_list.csv')

In [33]:
diff_list = pd.DataFrame(diff_list)
diff_list[diff_list[0]==1671]

         0       1       2          3
2295  1671  ounces    12.0   12.0 oz.
2296  1671     abv   0.069     0.069%
2297  1671    city  Dillon  Dillon CO
2298  1671   state      CO

In [37]:
beer_dirty_dict[1671]

{'id': 1463,
 'beer-name': 'Hideout Helles',
 'style': 'Munich Helles Lager',
 'ounces': '12.0 oz.',
 'abv': '0.069%',
 'ibu': 17.0,
 'brewery_id': 135,
 'brewery-name': "Pug Ryan's Brewery",
 'city': 'Dillon CO',
 'state': ''}

In [35]:
temp = {}
for key in beer_clean_dict[1].keys():
    temp[key] = ''

In [39]:
str(temp)

"{'id': '', 'beer-name': '', 'style': '', 'ounces': '', 'abv': '', 'ibu': '', 'brewery_id': '', 'brewery-name': '', 'city': '', 'state': ''}"

In [47]:
beer_dirty_dict[1671]

'{\'id\': 1463, \'beer-name\': \'Hideout Helles\', \'style\': \'Munich Helles Lager\', \'ounces\': \'12.0 oz.\', \'abv\': \'0.069%\', \'ibu\': 17.0, \'brewery_id\': 135, \'brewery-name\': "Pug Ryan\'s Brewery", \'city\': \'Dillon CO\', \'state\': \'\'}'

In [69]:
def ICL(index):
    i = index
    text_head = "You are an expert in data formatting. Based on the examples provided below, where 'dirty' represents the data before formatting and 'clean' represents the data after formatting, please format the input in a similar way and provide the output.\n\nReturn in json format.\n\nOutput Format \n\n%s\n\ninput:\n\n%s\n\nTake these rows as reference:\n\ndirty:\n\n%s\n\nclean:\n\n%s" % (str(temp),str(beer_dirty_dict[index]),str(beer_dirty_dict[1671]),str(beer_clean_dict[1671]))
    return text_head
print(ICL(3))

You are an expert in data formatting. Based on the examples provided below, where 'dirty' represents the data before formatting and 'clean' represents the data after formatting, please format the input in a similar way and provide the output.

Return in json format.

Output Format

{'id': '', 'beer-name': '', 'style': '', 'ounces': '', 'abv': '', 'ibu': '', 'brewery_id': '', 'brewery-name': '', 'city': '', 'state': ''}

input:

{'id': 2264, 'beer-name': 'Rise of the Phoenix', 'style': 'American IPA', 'ounces': '12.0 ounce', 'abv': '0.071', 'ibu': '', 'brewery_id': 177, 'brewery-name': '18th Street Brewery', 'city': 'Gary', 'state': 'IN'}

Take these rows as reference:

dirty:

{'id': 1463, 'beer-name': 'Hideout Helles', 'style': 'Munich Helles Lager', 'ounces': '12.0 oz.', 'abv': '0.069%', 'ibu': 17.0, 'brewery_id': 135, 'brewery-name': "Pug Ryan's Brewery", 'city': 'Dillon CO', 'state': ''}

clean:

{'id': 1463, 'beer-name': 'Hideout Helles', 'style': 'Munich Helles Lager', 'ounces': 12.0, 'abv': 0.069, 'ibu': 17.0, 'brewery_id': 135, 'brewery-name': "Pug Ryan's Brewery", 'city': 'Dillon', 'state': 'CO'}

In [70]:
inf = []
for i in range(1,2411,1):
    inf.append(ICL(i))

In [71]:
np.save('/home/yanmy/FastChat/prompt_opt/beers.npy',inf)

In [119]:
a = np.load('/home/yanmy/FastChat/prompt_opt/beers_output.npy')

In [138]:
import ast

def parse_json_or_dict(text):
    try:
        # 尝试使用ast.literal_eval解析字符串
        result = ast.literal_eval(text)
        return result
    except (ValueError, SyntaxError):
        # 如果解析失败，尝试查找并解析最后一个大括号{}包含的字典
        last_open_brace = text.rfind('{')
        last_close_brace = text.rfind('}')
        
        if last_open_brace != -1 and last_close_brace != -1 and last_open_brace < last_close_brace:
            dict_str = text[last_open_brace:last_close_brace + 1]
            try:
                result = ast.literal_eval(dict_str)
                return result
            except (ValueError, SyntaxError):
                pass
    
    # 如果以上两种尝试都失败，返回原始文本
    return {}

# 测试函数
# input_text = '{"name": "John", "age": 30} Some other text'
# output = parse_json_or_dict(input_text)
# print(output)
i = 3
result_dict = [parse_json_or_dict(text) for text in a]

In [132]:
# pd.DataFrame(result_dict)
result_str = [s for s in result_dict if not isinstance(s,dict)]

In [146]:
result_df.iloc[7]['clean']

2259

In [170]:
# result_df = pd.DataFrame(result_dict)
# result_df[pd.isnull(result_df['clean'])]
# for index,row in result_df.iterrows():
def CleanDictExtract(row):
    if not pd.isnull(row['clean']):
        clean_dict = row['clean']
        # clean_dict['brewery\\_id'] = 
        if 'brewery_id' not in clean_dict:
            clean_dict['brewery_id'] = clean_dict['brewery\\_id']
        for x,y in row[:10].items(): ## without clean and brewery_id
            # x_inf = x.replace('\\','') ## brewery\\_id to brewery_id
            row[x] = clean_dict[x]
    if not pd.isnull(row['brewery\_id']):
        row['brewery_id'] = row['brewery\_id']
    return row
result_df_revise = result_df.progress_apply(CleanDictExtract,axis=1)

pandas bar: 100%|██████████| 2410/2410 [00:00<00:00, 13167.13it/s]

In [168]:
beer_dirty

,index,id,beer-name,style,ounces,abv,ibu,brewery_id,brewery-name,city,state
0,1,1436,Pub Beer,American Pale Lager,12.0 oz,0.05,NaN,408,10 Barrel Brewing Company,Bend,OR
1,2,2265,Devil's Cup,American Pale Ale (APA),12.0 oz.,0.066,NaN,177,18th Street Brewery,Gary,IN
2,3,2264,Rise of the Phoenix,American IPA,12.0 ounce,0.071,NaN,177,18th Street Brewery,Gary,IN
3,4,2263,Sinister,American Double / Imperial IPA,12.0 oz,0.09%,NaN,177,18th Street Brewery,Gary,IN
4,5,2262,Sex and Candy,American IPA,12.0 OZ.,0.075,NaN,177,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...,...,...
2405,2406,928,Belgorado,Belgian IPA,12.0 oz.,0.067,45.0,424,Wynkoop Brewing Company,Denver,CO
2406,2407,807,Rail Yard Ale,American Amber / Red Ale,12.0 oz. Alumi-Tek,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO
2407,2408,620,B3K Black Lager,Schwarzbier,12.0 oz.,0.055%,NaN,424,Wynkoop Brewing Company,Denver,CO
2408,2409,145,Silverback Pale Ale,American Pale Ale (APA),12.0 ounce,0.055%,40.0,424,Wynkoop Brewing Company,Denver,CO
2409,2410,84,Rail Yard Ale (2009),American Amber / Red Ale,12.0 oz.,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO

In [172]:
result_df_revise.to_csv('beer_clean_result.csv')

In [173]:
beer_clean

,index,id,beer-name,style,ounces,abv,ibu,brewery_id,brewery-name,city,state
0,1,1436,Pub Beer,American Pale Lager,12.0,0.050,NaN,408,10 Barrel Brewing Company,Bend,OR
1,2,2265,Devil's Cup,American Pale Ale (APA),12.0,0.066,NaN,177,18th Street Brewery,Gary,IN
2,3,2264,Rise of the Phoenix,American IPA,12.0,0.071,NaN,177,18th Street Brewery,Gary,IN
3,4,2263,Sinister,American Double / Imperial IPA,12.0,0.090,NaN,177,18th Street Brewery,Gary,IN
4,5,2262,Sex and Candy,American IPA,12.0,0.075,NaN,177,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...,...,...
2405,2406,928,Belgorado,Belgian IPA,12.0,0.067,45.0,424,Wynkoop Brewing Company,Denver,CO
2406,2407,807,Rail Yard Ale,American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO
2407,2408,620,B3K Black Lager,Schwarzbier,12.0,0.055,NaN,424,Wynkoop Brewing Company,Denver,CO
2408,2409,145,Silverback Pale Ale,American Pale Ale (APA),12.0,0.055,40.0,424,Wynkoop Brewing Company,Denver,CO
2409,2410,84,Rail Yard Ale (2009),American Amber / Red Ale,12.0,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO

In [174]:
# print(a[29])
# result_df_dict = result_df.iloc[:,:-2].fill
result_df_revise['index'] = beer_clean['index']

In [181]:
result_df_dict = result_df_revise.fillna('').set_index('index').to_dict('index')

In [ ]:

[ast.literal_eval(a[i].split('\n\nclean:\n\n')[-1])
for i in range(1,50,1)]
# print(a[41])
# a[41]

In [29]:
beer_dirty['abv'].value_counts(),beer_clean['abv'].value_counts()

(abv
 0.05                    150
 0.055                   112
 0.06                     92
 0.065                    86
 0.052                    80
                        ...
 0.086%                    1
 0.034                     1
 0.128%                    1
 0.10400000000000001%      1
 0.028                     1
 Name: count, Length: 131, dtype: int64,
 abv
 0.050    215
 0.055    158
 0.060    125
 0.065    123
 0.052    107
         ...
 0.120      1
 0.125      1
 0.094      1
 0.104      1
 0.028      1
 Name: count, Length: 74, dtype: int64)

In [ ]:
## What If we find the ground-truth coreset? or by the embedding method?
## Zero-shot we try to tackle with the coreset findings in columns

In [219]:
# compare_dataframes(beer_clean,beer_dirty)
beer_dirty[beer_clean['city']==beer_dirty['city']]

,index,id,beer-name,style,ounces,abv,ibu,brewery_id,brewery-name,city,state
0,1,1436,Pub Beer,American Pale Lager,12.0 oz,0.05,NaN,408,10 Barrel Brewing Company,Bend,OR
1,2,2265,Devil's Cup,American Pale Ale (APA),12.0 oz.,0.066,NaN,177,18th Street Brewery,Gary,IN
2,3,2264,Rise of the Phoenix,American IPA,12.0 ounce,0.071,NaN,177,18th Street Brewery,Gary,IN
3,4,2263,Sinister,American Double / Imperial IPA,12.0 oz,0.09%,NaN,177,18th Street Brewery,Gary,IN
4,5,2262,Sex and Candy,American IPA,12.0 OZ.,0.075,NaN,177,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...,...,...
2405,2406,928,Belgorado,Belgian IPA,12.0 oz.,0.067,45.0,424,Wynkoop Brewing Company,Denver,CO
2406,2407,807,Rail Yard Ale,American Amber / Red Ale,12.0 oz. Alumi-Tek,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO
2407,2408,620,B3K Black Lager,Schwarzbier,12.0 oz.,0.055%,NaN,424,Wynkoop Brewing Company,Denver,CO
2408,2409,145,Silverback Pale Ale,American Pale Ale (APA),12.0 ounce,0.055%,40.0,424,Wynkoop Brewing Company,Denver,CO
2409,2410,84,Rail Yard Ale (2009),American Amber / Red Ale,12.0 oz.,0.052,NaN,424,Wynkoop Brewing Company,Denver,CO

In [211]:
beer_dirty['ounces'].value_counts()

ounces
12.0 oz.              580
12.0 oz               393
12.0 ounce            360
16.0 oz.              327
16.0 oz               220
16.0 ounce            202
12.0 OZ.               98
12.0 oz. Alumi-Tek     87
16.0 OZ.               50
16.0 oz. Alumi-Tek     38
24.0 oz.                9
24.0 ounce              7
12.0 oz. Silo Can       7
19.2 oz.                6
19.2 oz                 4
24.0 oz                 4
16.0 oz. Silo Can       4
19.2 OZ.                4
32.0 oz.                3
24.0 oz. Alumi-Tek      2
8.4 ounce               1
32.0 OZ.                1
32.0 oz. Alumi-Tek      1
19.2 oz. Alumi-Tek      1
16.9 OZ.                1
Name: count, dtype: int64

In [47]:
dirty_revise.to_csv('datasets/hospital/dirty_revise.csv')

In [ ]:
### We choose the coreset of Hospital Datasets

In [ ]:
# dirty_revise['count'] = dirty['count']
hospital_coreset = dirty_revise[dirty_revise['count']==0]
hospital_coreset

In [ ]:
# dirty.iloc[0,1:21]
def DITTOValue(row):
    text = ''
    for x,y in row[1:20].items():
        text += 'COL %s VAL %s ' % (x,y)
    return text
dirty['text'] = dirty.apply(DITTOValue,axis=1)
dirty

In [65]:
hospital_coreset.index

Index([  1,   2,   4,   5,   6,   8,   9,  11,  12,  14,
       ...
       989, 990, 991, 992, 993, 994, 995, 996, 998, 999],
      dtype='int64', length=593)

In [60]:
embedding_A = model.encode(dirty['text'].to_list(),show_progress_bar=True,device='cuda:3')

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

In [61]:
from sentence_transformers import util
def generate_similarity_dict(similarity_matrix):
    similarity_dict = {}
    num_elements = similarity_matrix.shape[0]

    for i in range(num_elements):
        # Get similarity scores for element i with all other elements
        similarity_scores = similarity_matrix[i, :]
        
        # Get indices of top 50 similar elements (excluding self)
        top_indices = np.argsort(similarity_scores)[::-1]
        
        # Add the list of top 50 similar elements to the dictionary
        similarity_dict[i] = top_indices.tolist()

    return similarity_dict
sim_A_B = util.cos_sim(embedding_A, embedding_A).numpy()
sim_A_B_dict = generate_similarity_dict(sim_A_B)

In [74]:
temp = {}
for x,y in dirty.iloc[42,1:20].items():
    temp[x] = ''
def ICL_Hospital(row):
    index = row['index'] - 1
    dirty_dict = row[1:20].to_dict()
    sim_index = [i for i in sim_A_B_dict[index] if i != index and i in hospital_coreset.index]
    text_head = "You are an expert in data cleaning. Based on the examples provided below, where 'clean' represents the data after cleaning, please clean the input in a similar way and provide the output.\n\nReturn in json format.\n\nOutput Format \n\n%s\n\ninput:\n\n%s\n\nTake these rows as reference:\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s" % (str(temp),str(dirty_dict),str(dirty.iloc[sim_index[0],1:20].to_dict()),str(dirty.iloc[sim_index[1],1:20].to_dict()),str(dirty.iloc[sim_index[2],1:20].to_dict()),str(dirty.iloc[sim_index[3],1:20].to_dict()),str(dirty.iloc[sim_index[4],1:20].to_dict()),)
    return text_head
# print(ICL_Hospital(dirty.iloc[31]))
dirty['query'] = dirty.apply

In [76]:
dirty.to_csv('datasets/hospital/dirty_query.csv', index=False)

In [98]:
flight_dirty = pd.read_csv('/home/yanmy/raha/raha-master/datasets/flights/dirty.csv').fillna('')
flight_clean = pd.read_csv('/home/yanmy/raha/raha-master/datasets/flights/clean.csv').fillna('')

In [99]:
flight_dirty!=flight_clean

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True
2,False,False,False,False,True,False,True
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
2371,False,False,False,False,True,False,False
2372,False,False,False,False,False,False,False
2373,False,False,False,False,False,False,False
2374,False,False,False,False,False,False,False
2375,False,False,False,False,False,False,False

In [102]:
# flight_dirty[flight_dirty['sched_dep_time']!=flight_clean['sched_dep_time']]
flight_dirty['count'] = (flight_dirty!=flight_clean).sum(axis=1)

In [105]:
# flight_dirty['count'].value_counts()
flight_coreset = flight_dirty[flight_dirty['count']==0]
flight_coreset

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time,count
0,1,aa,AA-3859-IAH-ORD,7:10 a.m.,7:16 a.m.,9:40 a.m.,9:32 a.m.,0
3,4,aa,AA-518-MIA-JFK,6:40 a.m.,6:54 a.m.,9:25 a.m.,9:28 a.m.,0
4,5,aa,AA-3756-ORD-SLC,12:15 p.m.,12:41 p.m.,2:45 p.m.,2:50 p.m.,0
6,7,aa,AA-3468-CVG-MIA,7:00 a.m.,7:25 a.m.,9:55 a.m.,9:45 a.m.,0
7,8,aa,AA-484-DFW-MIA,4:15 p.m.,4:29 p.m.,7:55 p.m.,7:39 p.m.,0
...,...,...,...,...,...,...,...,...
2370,2371,world-flight-tracker,AA-222-LAX-BOS,7:10 a.m.,7:31 a.m.,3:30 p.m.,3:14 p.m.,0
2372,2373,world-flight-tracker,AA-4198-ORD-CLE,10:40 a.m.,10:54 a.m.,12:55 p.m.,12:50 p.m.,0
2373,2374,world-flight-tracker,CO-45-EWR-MIA,4:00 p.m.,3:58 p.m.,7:05 p.m.,6:36 p.m.,0
2374,2375,world-flight-tracker,AA-3809-PHX-LAX,6:00 a.m.,6:10 a.m.,6:40 a.m.,6:19 a.m.,0
2375,2376,world-flight-tracker,AA-59-JFK-SFO,7:10 a.m.,7:39 a.m.,10:45 a.m.,11:12 a.m.,0

In [108]:
def DITTOValue(row):
    text = ''
    for x,y in row[1:7].items():
        text += 'COL %s VAL %s ' % (x,y)
    return text
flight_dirty['text'] = flight_dirty.apply(DITTOValue,axis=1)
flight_dirty

,tuple_id,src,flight,sched_dep_time,act_dep_time,sched_arr_time,act_arr_time,count,text
0,1,aa,AA-3859-IAH-ORD,7:10 a.m.,7:16 a.m.,9:40 a.m.,9:32 a.m.,0,COL src VAL aa COL flight VAL AA-3859-IAH-ORD ...
1,2,aa,AA-1733-ORD-PHX,7:45 p.m.,7:58 p.m.,10:30 p.m.,,1,COL src VAL aa COL flight VAL AA-1733-ORD-PHX ...
2,3,aa,AA-1640-MIA-MCO,6:30 p.m.,,7:25 p.m.,,2,COL src VAL aa COL flight VAL AA-1640-MIA-MCO ...
3,4,aa,AA-518-MIA-JFK,6:40 a.m.,6:54 a.m.,9:25 a.m.,9:28 a.m.,0,COL src VAL aa COL flight VAL AA-518-MIA-JFK C...
4,5,aa,AA-3756-ORD-SLC,12:15 p.m.,12:41 p.m.,2:45 p.m.,2:50 p.m.,0,COL src VAL aa COL flight VAL AA-3756-ORD-SLC ...
...,...,...,...,...,...,...,...,...,...
2371,2372,world-flight-tracker,UA-3099-PHX-PHL,11:55 a.m.,11:43 a.m.,6:17 p.m.,5:38 p.m.,1,COL src VAL world-flight-tracker COL flight VA...
2372,2373,world-flight-tracker,AA-4198-ORD-CLE,10:40 a.m.,10:54 a.m.,12:55 p.m.,12:50 p.m.,0,COL src VAL world-flight-tracker COL flight VA...
2373,2374,world-flight-tracker,CO-45-EWR-MIA,4:00 p.m.,3:58 p.m.,7:05 p.m.,6:36 p.m.,0,COL src VAL world-flight-tracker COL flight VA...
2374,2375,world-flight-tracker,AA-3809-PHX-LAX,6:00 a.m.,6:10 a.m.,6:40 a.m.,6:19 a.m.,0,COL src VAL world-flight-tracker COL flight VA...
2375,2376,world-flight-tracker,AA-59-JFK-SFO,7:10 a.m.,7:39 a.m.,10:45 a.m.,11:12 a.m.,0,COL src VAL world-flight-tracker COL flight VA...

In [109]:
embedding_A = model.encode(flight_dirty['text'].to_list(),show_progress_bar=True,device='cuda:3')
from sentence_transformers import util
def generate_similarity_dict(similarity_matrix):
    similarity_dict = {}
    num_elements = similarity_matrix.shape[0]

    for i in range(num_elements):
        # Get similarity scores for element i with all other elements
        similarity_scores = similarity_matrix[i, :]
        
        # Get indices of top 50 similar elements (excluding self)
        top_indices = np.argsort(similarity_scores)[::-1]
        
        # Add the list of top 50 similar elements to the dictionary
        similarity_dict[i] = top_indices.tolist()

    return similarity_dict
sim_A_B = util.cos_sim(embedding_A, embedding_A).numpy()
sim_A_B_dict = generate_similarity_dict(sim_A_B)

Batches:   0%|          | 0/75 [00:00<?, ?it/s]

In [157]:
temp = {}
for x,y in flight_dirty.iloc[42,1:7].items():
    temp[x] = ''
def ICL_flight(row):
    index = row['tuple_id'] - 1
    dirty_dict = row[1:7].to_dict()
    sim_index_clean = [i for i in sim_A_B_dict[index] if i != index and i in flight_coreset.index][:3]
    sim_index = [i for i in sim_A_B_dict[index] if i != index][:3]
    # text_head = "You are an expert in data cleaning. Based on the examples provided below, where 'clean' represents the data after cleaning, please clean the input in a similar way and provide the output.\n\nReturn in json format.\n\nOutput Format \n\n%s\n\ninput:\n\n%s\n\nTake these rows as reference:\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s" % (str(temp),str(dirty_dict),str(dirty.iloc[sim_index[0],1:20].to_dict()),str(dirty.iloc[sim_index[1],1:20].to_dict()),str(dirty.iloc[sim_index[2],1:20].to_dict()),str(dirty.iloc[sim_index[3],1:20].to_dict()),str(dirty.iloc[sim_index[4],1:20].to_dict()),)
    text_head = "You are an expert in data cleaning. Based on the examples provided below, where 'clean' represents the data after cleaning, please clean the input in a similar way and provide the output.\n\nReturn in json format.\n\nOutput Format \n\n%s\n\ninput:\n\n%s\n\nTake these rows as reference:" % (str(temp),str(dirty_dict))
    text_append = ''
    if(len(sim_index_clean)>0):
        for s in sim_index_clean:
            text_append +='\n\nclean:\n\n%s' % str(flight_dirty.iloc[s,1:7].to_dict())
    else:
        for s in sim_index:
            text_append +='\n\nclean:\n\n%s' % str(flight_dirty.iloc[s,1:7].to_dict())
    return text_head + text_append
# print(ICL_Hospital(dirty.iloc[31]))
flight_dirty['query'] = flight_dirty.apply(ICL_flight, axis=1)

In [162]:
# flight_coreset.index[:50]
flight_dirty.to_csv('datasets/flights/dirty_query.csv')

In [161]:
print(flight_dirty.iloc[529,-1])

You are an expert in data cleaning. Based on the examples provided below, where 'clean' represents the data after cleaning, please clean the input in a similar way and provide the output.

Return in json format.

Output Format

{'src': '', 'flight': '', 'sched_dep_time': '', 'act_dep_time': '', 'sched_arr_time': '', 'act_arr_time': ''}

input:

{'src': 'flightview', 'flight': 'CO-50-CLE-EWR', 'sched_dep_time': '', 'act_dep_time': '4:02 p.m.', 'sched_arr_time': '', 'act_arr_time': '5:26 p.m.'}

Take these rows as reference:

clean:

{'src': 'CO', 'flight': 'CO-50-CLE-EWR', 'sched_dep_time': '2:55 p.m.', 'act_dep_time': '3:31 p.m.', 'sched_arr_time': '4:49 p.m.', 'act_arr_time': '5:26 p.m.'}

clean:

{'src': 'flightstats', 'flight': 'CO-50-CLE-EWR', 'sched_dep_time': '2:55 p.m.', 'act_dep_time': '3:31 p.m.', 'sched_arr_time': '4:49 p.m.', 'act_arr_time': '5:26 p.m.'}

clean:

{'src': 'quicktrip', 'flight': 'CO-50-CLE-EWR', 'sched_dep_time': '2:55 p.m.', 'act_dep_time': '3:31 p.m.', 'sched_arr_time': '4:49 p.m.', 'act_arr_time': '5:26 p.m.'}

In [185]:
address_dirty = pd.read_csv('/home/yanmy/raha/raha-master/datasets/rayyan/dirty.csv').fillna('')
address_clean = pd.read_csv('/home/yanmy/raha/raha-master/datasets/rayyan/clean.csv').fillna('')

In [187]:
address_dirty['count'] = (address_dirty!=address_clean).sum(axis=1)

In [190]:
# address_dirty['count'].value_counts()
address_coreset = address_dirty[address_dirty['count']==0]

In [186]:
# (dirty!=clean)
# dirty.iloc[42,10],clean.iloc[42,10]
def Str2Int(row):
    for index in range(11):
        temp = row[index]
        try:
            row[index] = str(int(temp))
        except:
            continue
    return row
address_dirty = address_dirty.progress_apply(Str2Int,axis=1)

pandas bar: 100%|██████████| 1000/1000 [00:00<00:00, 6568.70it/s]

In [192]:
address_dirty.iloc[42,1:11]

article_title           Multiresistance of clinically relevant gram-po...
article_language
journal_title                          Intensivmedizin und Notfallmedizin
jounral_abbreviation
journal_issn                                                    0175-3851
article_jvolumn                                                        34
article_jissue                                                          7
article_jcreated_at                                                1/1/97
article_pagination                                                655-663
author_list                       {"G. Peters","K. Becker","C. Von Eiff"}
Name: 42, dtype: object

In [ ]:
def DITTOValue(row):
    text = ''
    for x,y in row[1:11].items():
        text += 'COL %s VAL %s ' % (x,y)
    return text
address_dirty['text'] = address_dirty.apply(DITTOValue,axis=1)
address_dirty

In [193]:
embedding_A = model.encode(address_dirty['text'].to_list(),show_progress_bar=True,device='cuda:3')
from sentence_transformers import util
def generate_similarity_dict(similarity_matrix):
    similarity_dict = {}
    num_elements = similarity_matrix.shape[0]

    for i in range(num_elements):
        # Get similarity scores for element i with all other elements
        similarity_scores = similarity_matrix[i, :]
        
        # Get indices of top 50 similar elements (excluding self)
        top_indices = np.argsort(similarity_scores)[::-1]
        
        # Add the list of top 50 similar elements to the dictionary
        similarity_dict[i] = top_indices.tolist()

    return similarity_dict
sim_A_B = util.cos_sim(embedding_A, embedding_A).numpy()
sim_A_B_dict = generate_similarity_dict(sim_A_B)

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

In [194]:
address_dirty['index'] = address_dirty.index

In [228]:
temp = {}
for x,y in address_dirty.iloc[42,1:11].items():
    temp[x] = ''
def ICL_flight(row):
    index = row['index']
    dirty_dict = row[1:11].to_dict()
    sim_index_clean = [i for i in sim_A_B_dict[index] if i != index and i in address_clean.index][:3]
    sim_index = [i for i in sim_A_B_dict[index] if i != index][:3]
    # text_head = "You are an expert in data cleaning. Based on the examples provided below, where 'clean' represents the data after cleaning, please clean the input in a similar way and provide the output.\n\nReturn in json format.\n\nOutput Format \n\n%s\n\ninput:\n\n%s\n\nTake these rows as reference:\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s\n\nclean:\n\n%s" % (str(temp),str(dirty_dict),str(dirty.iloc[sim_index[0],1:20].to_dict()),str(dirty.iloc[sim_index[1],1:20].to_dict()),str(dirty.iloc[sim_index[2],1:20].to_dict()),str(dirty.iloc[sim_index[3],1:20].to_dict()),str(dirty.iloc[sim_index[4],1:20].to_dict()),)
    text_head = "You are an expert in data cleaning. Based on the examples provided below, where 'clean' represents the data after cleaning, please clean the input in a similar way and provide the output.\n\nReturn in json format.\n\nOutput Format \n\n%s\n\ninput:\n\n%s\n\nTake these rows as reference:" % (str(temp),str(dirty_dict))
    text_append = ''
    if(len(sim_index_clean)>0):
        for s in sim_index_clean:
            text_append +='\n\nclean:\n\n%s' % str(address_dirty.iloc[s,1:11].to_dict())
    else:
        for s in sim_index:
            text_append +='\n\nclean:\n\n%s' % str(address_dirty.iloc[s,1:11].to_dict())
    return text_head + text_append
# print(ICL_Hospital(dirty.iloc[31]))
address_dirty['query'] = address_dirty.apply(ICL_flight, axis=1)

In [198]:
address_coreset.index

Index([  0,   6,  15,  18,  23,  27,  38,  40,  42,  46,
       ...
       958, 963, 969, 976, 978, 981, 985, 987, 990, 995],
      dtype='int64', length=212)

In [217]:
address_clean[address_clean['id']==255432]

,id,article_title,article_language,journal_title,jounral_abbreviation,journal_issn,article_jvolumn,article_jissue,article_jcreated_at,article_pagination,author_list
109,255432,Pool fencing for preventing drowning in children.,eng,The Cochrane Database Of Systematic Reviews,Cochrane Database Syst Rev,1469-493X,-1,2,1/1/00,CD001047,"{""D C Thompson"",""F P Rivara""}"

In [223]:
# address_dirty.iloc[109,:-2],address_clean.iloc[109]
# address_dirty.iloc[:,6:8] = address_dirty.iloc[:,6:8].replace('',-1)
# address_clean[address_clean['article_title']=='Ebola Virus GP Gene Polyadenylation Versus RNA Editing.']

In [230]:
# print(address_dirty.iloc[1,-1])
address_dirty.to_csv('datasets/rayyan/dirty_query.csv')

### Detector + Coreset + LLM Repairer

In [ ]:
hospital_clean = pd.read_csv('datasets/hospital/clean.csv').astype(str)
hospital_dirty = pd.read_csv('datasets/hospital/dirty.csv').astype(str)
hospital_query = pd.read_csv('datasets/hospital/dirty_query.csv')
hospital_dirty.columns = hospital_clean.columns
hospital_query

In [ ]:
hospital_clean[hospital_clean['ProviderNumber']=='10001']

In [21]:
# hospital_dirty[hospital_dirty['Stateavg']!=hospital_clean['Stateavg']]
hospital_dirty['Stateavg'].value_counts()

Stateavg
al_ami-3     40
al_hf-3      40
al_ami-4     40
al_ami-2     39
al_hf-1      39
             ..
xl_xmi-2      1
al_amix8a     1
alxami-7a     1
al_pnx6       1
alxpn-6       1
Name: count, Length: 74, dtype: int64

In [132]:
# hospital_query['count'].value_counts()
input = np.array(hospital_clean!=hospital_dirty)

In [91]:
import numpy as np

def min_row_cover(matrix):
    num_rows, num_cols = matrix.shape
    uncovered_cols = set(range(num_cols))
    selected_rows = []

    while uncovered_cols:
        best_row = None
        best_intersection = set()

        for row in range(num_rows):
            row_indices = set(np.where(matrix[row] == 1)[0])
            intersection = row_indices & uncovered_cols

            if len(intersection) > len(best_intersection):
                best_row = row
                best_intersection = intersection

        if best_row is None:
            break

        selected_rows.append(best_row)
        uncovered_cols -= best_intersection

    return selected_rows
def max_sum_cover(matrix, num_rows_to_select=20):
    num_rows, num_cols = matrix.shape
    selected_rows = set()
    covered_cols = set()
    
    while len(selected_rows) < num_rows_to_select:
        best_row = None
        best_score = -1
        
        for row in range(num_rows):
            if row not in selected_rows:
                row_indices = set(np.where(matrix[row] == 1)[0])
                score = len(row_indices - covered_cols)
                
                if score > best_score:
                    best_row = row
                    best_score = score

        if best_row is None:
            break

        selected_rows.add(best_row)
        covered_cols.update(np.where(matrix[best_row] == 1)[0])

    return list(selected_rows)
# 示例用法
matrix = np.array([
    [1, 0, 1, 0, 0],
    [0, 1, 1, 0, 1],
    [0, 1, 0, 1, 0],
    [1, 0, 0, 1, 1]
])

selected_rows = min_row_cover(input)
selected_rows_all = max_sum_cover(input.astype(int))
print("最少的行的索引:", selected_rows)

最少的行的索引: [532, 157, 228, 698, 213, 264]

In [66]:
import numpy as np

def find_max_coverage(matrix):
    # 转置矩阵以便按列计算列和
    transposed_matrix = np.transpose(matrix)
    
    # 初始化一个列表，用于记录每列的和以及列的索引
    column_sums = [(sum(column), index) for index, column in enumerate(transposed_matrix)]
    
    # 按列和降序排序
    column_sums.sort(reverse=True)
    
    selected_rows = []
    selected_columns = set()
    
    for _, column_index in column_sums:
        # 如果所选列已经包含了这一列，跳过
        if column_index in selected_columns:
            continue
        
        # 找到可以添加的行
        best_row = None
        best_row_sum = -1
        
        for row_index, row in enumerate(matrix):
            if row_index in selected_rows:
                continue
            
            # 计算将此行添加到已选行中后的行之和
            new_row_sum = sum(row)
            
            if new_row_sum > best_row_sum:
                best_row_sum = new_row_sum
                best_row = row_index
        
        # 如果找到了合适的行，添加它
        if best_row is not None:
            selected_rows.append(best_row)
            selected_columns.update([column_index])
            
            # 如果已经选择的行数超过20，停止
            if len(selected_rows) >= 20:
                break
    
    return selected_rows

# 示例用法
if __name__ == "__main__":
    matrix = np.random.randint(2, size=(1000, 20))  # 随机生成一个1000x20的二进制矩阵
    selected_rows = find_max_coverage(input)
    print("所选行的索引:", selected_rows)

所选行的索引: [532, 157, 213, 228, 238, 256, 332, 386, 411, 493, 572, 698, 956, 22, 24, 42, 56, 57, 93, 94]

Hospital:[532, 157, 213, 228, 238, 256, 332, 386, 411, 493, 572, 698, 956, 22, 24, 42, 56, 57, 93, 94]

In [72]:
hospital_label_index = selected_rows

In [79]:
hospital_dirty_dict[3],hospital_clean_dict[3]

({'ProviderNumber': '10018',
  'HospitalName': 'callahan eye foundation hospital',
  'Address1': '1720 university blvd',
  'Address2': 'empty',
  'Address3': 'empty',
  'City': 'birmingham',
  'State': 'al',
  'ZipCode': '35233',
  'CountyName': 'jefferson',
  'PhoneNumber': '2053258100',
  'HospitalType': 'acute care hospitals',
  'HospitalOwner': 'voluntary non-profit - private',
  'EmergencyService': 'yes',
  'Condition': 'surgical infection prevention',
  'MeasureCode': 'scip-inf-2',
  'MeasureName': 'surgery patients who were given the  right kind  of antibiotic to help prevent infection',
  'Score': 'empty',
  'Sample': 'empty',
  'Stateavg': 'al_scip-inf-2'},
 {'ProviderNumber': '10018',
  'HospitalName': 'callahan eye foundation hospital',
  'Address1': '1720 university blvd',
  'Address2': 'empty',
  'Address3': 'empty',
  'City': 'birmingham',
  'State': 'al',
  'ZipCode': '35233',
  'CountyName': 'jefferson',
  'PhoneNumber': '2053258100',
  'HospitalType': 'acute care hospitals',
  'HospitalOwner': 'voluntary non-profit - private',
  'EmergencyService': 'yes',
  'Condition': 'surgical infection prevention',
  'MeasureCode': 'scip-inf-2',
  'MeasureName': 'surgery patients who were given the  right kind  of antibiotic to help prevent infection',
  'Score': 'empty',
  'Sample': 'empty',
  'Stateavg': 'al_scip-inf-2'})

In [78]:
# hospital_query
hospital_dirty['index'] = hospital_dirty['index'].astype(int)
hospital_clean['index'] = hospital_clean['index'].astype(int)
hospital_dirty_dict = hospital_dirty.set_index('index').to_dict('index')
hospital_clean_dict = hospital_clean.set_index('index').to_dict('index')

In [125]:
a = np.load('../../LLM_ER/inference/hospital_6_33b.npy')

In [ ]:
print(hospital_dirty.iloc[0,-1])

In [129]:
print(a)

[']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']' ']'
 ']' ']']

In [101]:
np.random.choice(size=3,a = [0,1,2,3,4,5],replace=False)

array([0, 1, 2])

In [107]:
temp = {}
for key in hospital_clean_dict[1].keys():
    temp[key] = ''
def ICL(row):
    example = np.array(selected_rows) + 1
    # selection = np.random.choice(size=3,a = [0,1,2,3,4,5],replace=False)
    index = row['index']
    text_head = "You are an expert in data cleaning. Based on the examples provided below, where 'dirty' represents the data before formatting and 'clean' represents the data after formatting, please format the input in a similar way and provide the output.\n\nReturn in json format.\n\nOutput Format \n\n%s\n\ninput:\n\n%s\n\nTake these rows as reference:" % (str(temp),str(hospital_dirty_dict[index]))
    # for e in example[selection]:
    for e in example:
        text_head += '\n\n{\n\ndirty:\n\n%s\n\nclean:\n\n%s\n\n}' % (str(hospital_dirty_dict[e]),str(hospital_clean_dict[e]))
    return text_head
print(ICL(hospital_dirty.iloc[532]))

You are an expert in data cleaning. Based on the examples provided below, where 'dirty' represents the data before formatting and 'clean' represents the data after formatting, please format the input in a similar way and provide the output.

Return in json format.

Output Format

{'ProviderNumber': '', 'HospitalName': '', 'Address1': '', 'Address2': '', 'Address3': '', 'City': '', 'State': '', 'ZipCode': '', 'CountyName': '', 'PhoneNumber': '', 'HospitalType': '', 'HospitalOwner': '', 'EmergencyService': '', 'Condition': '', 'MeasureCode': '', 'MeasureName': '', 'Score': '', 'Sample': '', 'Stateavg': ''}

input:

{'ProviderNumber': '10023', 'HospitalName': 'baptist medical cexter south', 'Address1': '2105 east south boulevard', 'Address2': 'empty', 'Address3': 'empty', 'City': 'montgomery', 'State': 'al', 'ZipCode': '36116', 'CountyName': 'montgomery', 'PhoneNumber': '3342882100', 'HospitalType': 'acute care hosxitals', 'HospitalOwner': 'voluntary non-profit - church', 'EmergencyService': 'yes', 'Condition': 'pneumonia', 'MeasureCode': 'pn-7', 'MeasureName': 'pxeumoxia patiexts assessed axd givex ixfluexza vaccixatiox', 'Score': '92%', 'Sample': '87 patientx', 'Stateavg': 'al_pn-7'}

Take these rows as reference:

{

dirty:

{'ProviderNumber': '10023', 'HospitalName': 'baptist medical cexter south', 'Address1': '2105 east south boulevard', 'Address2': 'empty', 'Address3': 'empty', 'City': 'montgomery', 'State': 'al', 'ZipCode': '36116', 'CountyName': 'montgomery', 'PhoneNumber': '3342882100', 'HospitalType': 'acute care hosxitals', 'HospitalOwner': 'voluntary non-profit - church', 'EmergencyService': 'yes', 'Condition': 'pneumonia', 'MeasureCode': 'pn-7', 'MeasureName': 'pxeumoxia patiexts assessed axd givex ixfluexza vaccixatiox', 'Score': '92%', 'Sample': '87 patientx', 'Stateavg': 'al_pn-7'}

clean:

{'ProviderNumber': '10023', 'HospitalName': 'baptist medical center south', 'Address1': '2105 east south boulevard', 'Address2': 'empty', 'Address3': 'empty', 'City': 'montgomery', 'State': 'al', 'ZipCode': '36116', 'CountyName': 'montgomery', 'PhoneNumber': '3342882100', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'voluntary non-profit - church', 'EmergencyService': 'yes', 'Condition': 'pneumonia', 'MeasureCode': 'pn-7', 'MeasureName': 'pneumonia patients assessed and given influenza vaccination', 'Score': '92%', 'Sample': '87 patients', 'Stateavg': 'al_pn-7'}

}

{

dirty:

{'ProviderNumber': '10009', 'HospitalName': 'hartselle medical center', 'Address1': '201 pine street northwest', 'Address2': 'empty', 'Address3': 'empty', 'City': 'hartselle', 'State': 'al', 'ZipCode': '3x640', 'CountyName': 'morgan', 'PhoneNumber': '2567736511', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'pxopxietaxy', 'EmergencyService': 'yxs', 'Condition': 'pneumonia', 'MeasureCode': 'pn-4', 'MeasureName': 'pneumonia patients given smoking cessation advice/counseling', 'Score': '100%', 'Sample': '25 patients', 'Stateavg': 'al_pn-4'}

clean:

{'ProviderNumber': '10009', 'HospitalName': 'hartselle medical center', 'Address1': '201 pine street northwest', 'Address2': 'empty', 'Address3': 'empty', 'City': 'hartselle', 'State': 'al', 'ZipCode': '35640', 'CountyName': 'morgan', 'PhoneNumber': '2567736511', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'proprietary', 'EmergencyService': 'yes', 'Condition': 'pneumonia', 'MeasureCode': 'pn-4', 'MeasureName': 'pneumonia patients given smoking cessation advice/counseling', 'Score': '100%', 'Sample': '25 patients', 'Stateavg': 'al_pn-4'}

}

{

dirty:

{'ProviderNumber': '10012', 'HospitalName': 'dekalb regional medical center', 'Address1': '200 med center drive', 'Address2': 'empty', 'Address3': 'empty', 'City': 'fort payxe', 'State': 'ax', 'ZipCode': '35968', 'CountyName': 'de kalb', 'PhoneNumber': '2568453x50', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'voluntary non-profit - church', 'EmergencyService': 'yes', 'Condition': 'heart failure', 'MeasureCode': 'hf-3', 'MeasureName': 'heart failure patients given ace inhibitor or arb for left ventricular systolic dysfunction (lvsd)', 'Score': '94%', 'Sample': '36 patients', 'Stateavg': 'al_hf-3'}

clean:

{'ProviderNumber': '10012', 'HospitalName': 'dekalb regional medical center', 'Address1': '200 med center drive', 'Address2': 'empty', 'Address3': 'empty', 'City': 'fort payne', 'State': 'al', 'ZipCode': '35968', 'CountyName': 'de kalb', 'PhoneNumber': '2568453150', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'voluntary non-profit - church', 'EmergencyService': 'yes', 'Condition': 'heart failure', 'MeasureCode': 'hf-3', 'MeasureName': 'heart failure patients given ace inhibitor or arb for left ventricular systolic dysfunction (lvsd)', 'Score': '94%', 'Sample': '36 patients', 'Stateavg': 'al_hf-3'}

}

{

dirty:

{'ProviderNumber': '10034', 'HospitalName': 'community hospital inc', 'Address1': '805 friendship road', 'Address2': 'empty', 'Address3': 'empty', 'City': 'tallassee', 'State': 'al', 'ZipCode': '36078', 'CountyName': 'elxore', 'PhoneNumber': '3342836541', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'voluntary non-profit - private', 'EmergencyService': 'no', 'Condition': 'hexrt fxilure', 'MeasureCode': 'hf-1', 'MeasureName': 'heart failure patients given discharge instructions', 'Score': 'xx%', 'Sample': '65 patients', 'Stateavg': 'al_hf-1'}

clean:

{'ProviderNumber': '10034', 'HospitalName': 'community hospital inc', 'Address1': '805 friendship road', 'Address2': 'empty', 'Address3': 'empty', 'City': 'tallassee', 'State': 'al', 'ZipCode': '36078', 'CountyName': 'elmore', 'PhoneNumber': '3342836541', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'voluntary non-profit - private', 'EmergencyService': 'no', 'Condition': 'heart failure', 'MeasureCode': 'hf-1', 'MeasureName': 'heart failure patients given discharge instructions', 'Score': '88%', 'Sample': '65 patients', 'Stateavg': 'al_hf-1'}

}

{

dirty:

{'ProviderNumber': 'x00xx', 'HospitalName': 'st vincents east', 'Address1': '50 medical park east drive', 'Address2': 'empty', 'Address3': 'empty', 'City': 'birmingham', 'State': 'al', 'ZipCode': '35235', 'CountyName': 'jefferson', 'PhoneNumber': '2058383122', 'HospitalType': 'acutx carx hospitals', 'HospitalOwner': 'voluntary non-profit - private', 'EmergencyService': 'yes', 'Condition': 'surgical infection prevention', 'MeasureCode': 'scip-inf-2', 'MeasureName': 'surgery patients who were given the  right kind  of antibiotic to help prevent infection', 'Score': '98%', 'Sample': '473 patients', 'Stateavg': 'al_sxip-inf-2'}

clean:

{'ProviderNumber': '10011', 'HospitalName': 'st vincents east', 'Address1': '50 medical park east drive', 'Address2': 'empty', 'Address3': 'empty', 'City': 'birmingham', 'State': 'al', 'ZipCode': '35235', 'CountyName': 'jefferson', 'PhoneNumber': '2058383122', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'voluntary non-profit - private', 'EmergencyService': 'yes', 'Condition': 'surgical infection prevention', 'MeasureCode': 'scip-inf-2', 'MeasureName': 'surgery patients who were given the  right kind  of antibiotic to help prevent infection', 'Score': '98%', 'Sample': '473 patients', 'Stateavg': 'al_scip-inf-2'}

}

{

dirty:

{'ProviderNumber': '10015', 'HospitalName': 'southwest alabama medical center', 'Address1': '33700 highway x3', 'Address2': 'empty', 'Address3': 'empty', 'City': 'thomasville', 'State': 'al', 'ZipCode': '36784', 'CountyName': 'clarke', 'PhoneNumber': '3346366221', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'government - federal', 'EmergencyService': 'yes', 'Condition': 'surgical infection prevention', 'MeasureCode': 'scxp-xnf-3', 'MeasureName': 'surgery patients whose preventive antibiotics were stopped at the right time (within 24 hours after surgery)', 'Score': '86%', 'Sample': '14 patients', 'Stateavg': 'al_scip-inf-3'}

clean:

{'ProviderNumber': '10015', 'HospitalName': 'southwest alabama medical center', 'Address1': '33700 highway 43', 'Address2': 'empty', 'Address3': 'empty', 'City': 'thomasville', 'State': 'al', 'ZipCode': '36784', 'CountyName': 'clarke', 'PhoneNumber': '3346366221', 'HospitalType': 'acute care hospitals', 'HospitalOwner': 'government - federal', 'EmergencyService': 'yes', 'Condition': 'surgical infection prevention', 'MeasureCode': 'scip-inf-3', 'MeasureName': 'surgery patients whose preventive antibiotics were stopped at the right time (within 24 hours after surgery)', 'Score': '86%', 'Sample': '14 patients', 'Stateavg': 'al_scip-inf-3'}

}

In [108]:
# list(hospital_query[hospital_query['count']>2].index)
hospital_dirty['query'] = hospital_dirty.progress_apply(ICL,axis=1)

pandas bar: 100%|██████████| 1000/1000 [00:00<00:00, 14065.83it/s]

In [109]:
hospital_dirty.to_csv('datasets/hospital/dirty_query_6_long.csv')

In [105]:
text_list = pd.read_csv('/home/yanmy/raha/raha-master/datasets/hospital/dirty_query_6_long.csv',index_col=0)['query'].to_list()

In [ ]:
a = np.load('/home/yanmy/LLM_ER/inference/hospital_6_long.npy')
a